<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/master.css">
  <title></title>
  </head>
  <body class="background_biggboss">

    <h1>BIGGBOSS</h1>
    <div class="Parent">


    <div class="container">
   <!--- <canvas id='myChart' width="1000" heigh="1000"></canvas> -->
   <canvas id="pie-chart" width="500" height="500"></canvas>

    </div>
    <div class="TweetBox">
      <form action="">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">Enter Your Tweet</textarea>
        <button class="btn btn-primary" type="submit">Get Sentiment</button>
      </form>
    </div>
    </div>
   
  </body>
</html>

<script>
/*  let myChart=document.getElementById('myChart').getContext('2d');

    let massPopChart = new Chart(myChart, {
      type:'pie',
      data:{

        labels:["Positive","Negative","Neutral"],

      datasets:[{
        label:"Sentiment",
        data:[
          30,
          40,
          30]

      ,backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)'            
      ],
      borderColor:"rgb(255,255,255)",
      hoverBorderColor:"rgb(255,255,255)",
      hoverBorderWidth:6,
      fontColor:"rgb(255,255,255)",
    }]
  },
    options:{
      title:{
        display:true,
        text:"Sentiment Analysis of BTS Band in the Last 10 Days",
        fontColor:"rgb(255,255,255)",
        fontSize:45,
        borderColor:"rgb(0,0,0)",
        hoverBorderWidth:2
      },


    },
    responsive: false, 
    maintainAspectRatio: true
  });*/

  new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Positive","Neutral","Negative"],
      datasets: [{
        label: "Sentiment Analysis",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: [23,43,54]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Twitter Sentmiment Analysis for the Past 10 Days',
        background:"gray",
        fontColor:"rgb(0,0,0)",
        fontSize:35,
        hoverBorderWidth:2
      }
    }
});
</script>