<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <div class="Heading">
      <img class="twitter" src="../static/twitter.png" alt="">
      <h1>Twitter Sentiment Analysis</h1>

    </div>
    <div class="container">
        <section class="news">
          <h2>News</h2>
        </section>


      <section class="entertainment">
        <h2>Enterainment</h2>
      </section>

      <section class="sports">
        <h2>Sports</h2>
      </section>

      <section class="technology">
        <h2>Technology</h2>
      </section>

    </div>
  </body>
</html>
