<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/master.css">
  </head>
  <body>
    <div class="row no-gutters">

      <div class="col-md-6 no-gutters">

        <div class="leftside ">
            CLICK HERE!
        </div>
      </div>

      <div class="col-md-6 no-gutters">

        <div class="rightside ">
            CLICK HERE!

        </div>

      </div>

      </div>

      <div class="row no-gutters">
        <div class="col-md-6 col-sm-12 no-gutters">
          <div class="leftbottomside ">
              CLICK HERE!
          </div>
        </div>
        <div class="col-md-6 col-sm-12 no-gutters">
          <div class="rightbottomside ">
              CLICK HERE!
          </div>
        </div>

      </div>
  </body>
</html>
