<!DOCTYPE html> 
<!--grp39--> 

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/master.css">
  <title>{{title}}</title>
</head>

<body>
  <div id="particles-js">
  </div>

  <script type="text/javascript" src="../static/js/particles.js"> </script>
  <script type="text/javascript" src="../static/js/app.js"></script>


  <h1>{{title}}</h1>
  <div class="Parent">


    <div class="container">
      <!--- <canvas id='myChart' width="1000" heigh="1000"></canvas> -->
      <canvas id="pie-chart" width="500" height="500"></canvas>
<!--grp39--> 
    </div>
    <div class="TweetBox" style="margin:0 10px">
      <div class="tweet" style="width:100%; padding-bottom:40px;">
        <form action="#" method="post">
          <textarea class="form-control" name="Area" rows="3" placeholder="Enter your Tweet"></textarea>
          <button class="btn btn-primary" type="submit">Get Sentiment</button>
        </form>
      </div>
      <div class="live_tweets">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">LIVE Tweets</th>
              <th scope="col">Sentiment</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(0,length) %}
            <tr>

              <th scope="row">{{i+1}}</th>
              <td>{{tweets[i]}}</td>
              {% if sentiment[i]==0 %}
              <td>😐</td>
              {% endif %}
              {% if sentiment[i]==2 %}
              <td>😠</td>
              {% endif %}
              {% if sentiment[i]==1 %}
              <td>😀</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

</body>

</html>

<script>

  new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Positive", "Neutral", "Negative"],
      datasets: [{
        label: "Sentiment Analysis",
        backgroundColor: ["#003f5c", "#bc5090", "#ffa600"],
        data: [{% for item in sentiment_data %}
              {{ item }},
      {% endfor %}]
     }]},
    options:
    {
      legend: {
        labels: {
          fontColor: "rgb(0,0,0)",
          fontSize: 15,
          backgroundColor: "rgb(0,0,0)",
          textAlign: 'center'
        }
      },
      title: {
        display: true,
        text: 'Twitter Sentmiment Analysis of the Past 1 Year',
        background: "gray",
        fontColor: "rgb(255,255,255)",
        fontSize: 25,
        hoverBorderWidth: 2,
        fontFamily: "Dotta One"
      }
    }
  });
</script>
