h1{
  font-family:"sans-serif",cursive;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 150px;
  color:teal; 

}


.background_bts
{
  background: url("../static/bts.jpg");
  background-size: center;
}

.background_covid
{
  background:url("../static/covid.jpg");
  background-size:100%;
}
.background_uefa
{
  background:url("../static/uefa.jpg");
  background-size:100%;
}

.background_bcci
{
  background:url("../static/bcci.jpg");
  background-size:100%;
}

.background_react
{
  background:url("../static/react_nombile.png");
  background-size:100%;
}

.background_blockchain
{
  background:url("../static/blockchain.jpg");
  background-size:100%;
}

.background_biggboss
{
  background:url("../static/biggboss.jpg");
  background-size:100%;
}

.background_TBD
{
  background:url("../static/covid.jpg");
  background-size:100%;
}


.container
{  
  width: 680px;
  height: 650px;
  margin:5vw;

}

.Parent
{
  display: flex;
  align-items: center;
}

.TweetBox
{
  width: 800px;
  margin:5vw;
}


@media screen and (max-width:1025px)
{
  h1{
    font-size:100px;
    color:white;
  }
  .Parent{
    flex-direction: column;
  }
  .TweetBox{
    width:70vw;
  }
  .container{
    width:80vw;
    height:60vh;
}
  .background_bts{
    background:url("bts_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_covid{
    background:url("covid_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_react{
    background:url("react.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_bcci{
    background:url("bcci_mobile.jpg");
    background-size:100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  .background_blockchain{
    background:url("blockchain_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_biggboss{
    background:url("biggboss_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_uefa{
    background:url("../static/uefa_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
  .background_TBD{
    background:url("covid_mobile.jpg");
    background-size:100%;
    background-position: center;
  }
}


@media screen and (max-width:720px)
{
  h1{
    font-size:70px;
  }
}
@media screen and (max-width:480px )
{
  h1{
    font-size:50px;
  }
  .container{
    height:40vh;
  }
}

@media screen and (max-width:350px)
{
  h1{
    font-size:40px;
    padding:0;
  }
  .container{
    width:300px;
    height:300px;
  }
}
