.leftside,.rightside,.leftbottomside,.rightbottomside{
  display:block;
  width:100vw;
  height:50vh;
}

@media screen and (min-width:768px)
{
  .leftside,.rightside,.rightbottomside,.leftbottomside
  {
    height:50vh;
    justify-content:center;
    align-items:center;
  }
}

.leftside
{
    background-image: url("../static/news.png");
    height:50vh;
    width:100vw;
    background-repeat: no-repeat;
    background-position:left ;
    background-color: gray;

}



.rightside{
background-image: url("../static/2.jpeg");
  }


.leftbottomside{
  background-image:url("../static/3.jpeg");
}

.rightbottomside{
  background-image:url("../static/4.jpeg");
}
