h1{
  font-family:"sans-serif",cursive;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 150px;
  color:teal; 

}


.background
{
  background: url("../static/bts.jpg");
}


.container
{  
  width: 680px;
  height: 650px;
  margin:5vw;

}


.uefa
{
  background: url("../static/uefa.jpg");
  width:100vw;
  height: 100vh;
}

.Parent
{
  display: flex;
  align-items: center;
}

.TweetBox
{
  width: 800px;
  margin:5vw;
}

@media screen and (max-width:1025px)
{
  .Parent{
    flex-direction: column;
  }
  .TweetBox{
    width:70vw;
  }
  .container{
    width:70vw;
    height:45 vh;
    background: none;
}
  .background{
    background: #a3d2ca;
  }
}
/*
@media screen and (max-width:1007px)
{
  .container{
    width:80vw;
    height:50vh;  
  }
}*/

@media screen and (max-width:640px)
{
  .container{
    width:90vw;
    height:50vh;
  }
}